:root {
	--size-0: 0.5rem;
	--size-1: 0.875rem;
	--size-2: 1rem;
	--size-3: 1.25rem;
	--size-4: 1.6rem;
	--size-5: 1.75rem;
	--size-6: 2rem;
	--space-xs: 1.5rem;
	--space-s: 3rem;
	--space-m: 6rem;
	--space-l: 8rem;
	--size-full: 100%;
	--size-fit: fit-content;
	--size-min: min-content;
	--size-max: max-content;
	--size-auto: auto;
	--size-none: none;
	--size-screen-width: 100vw;
	--size-screen-height: 100vh;
	--border: 2px;
	--border-0: 0;
	--shadow-s: 0 0 10px 2px rgba(0, 0, 0, 0.1);
	--shadow-l: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	--rounded: 0.5rem;
	--text-xs: 0.75rem;
	--text-sm: 0.875rem;
	--text-md: 1rem;
	--text-l: 1.5rem;
	--text-lg: 1.825rem;
	--text-xl: 2.25rem;
	--color-white: #ffffff;
	--color-black: #111111;
	--color-gray: #dfdfdf;
	--color-gray-dark: #A09FA9;
	--color-primary: #4EA60B;
	--color-secondry: #f8ff00;
	--color-worn: #E63C52;
	--font-family: Arial, Helvetica, sans-serif;
	--screen-sm-min: 35rem;
	--screen-md-min: 48rem;
	--screen-lg-min: 62rem;
	--screen-xl-min: 75rem;
  }
